
.container{
    margin: 0 auto;
    min-width: 1200px;
}
.section1{

    background: url("../img/Sections background/section-1(header).jpg") no-repeat fixed;
    position: relative;
    background-size: cover;
    margin: 0 ;
    height: 1160px;
}
.header{
    background:rgba(93, 92, 87, 0.5);
    background-size: inherit;
    height: 100px;
}

.logo{
    padding-left: 300px;
    padding-top: 15px;
}

.H{
    font-family: "Montserrat Regular",sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: #FFFFFF;
    width: 10px;
    height: 15px;
    margin-top:-55px;
    margin-left: 18px;
    z-index: 5;
}

.theHam{
    font-family: "Montserrat Regular",sans-serif;
    font-size: 28px;
    font-weight: lighter;
    position: absolute;
    margin-left: 70px;
    margin-top: -15px;
    color: #FFFFFF;
}

.Ham{
    font-weight: bold;
     color:#18cfab;
}
.headerMenu{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 10px ;
    font-weight: bold;
    width: 680px;
    margin-left: 600px;
    margin-right: 150px;
    margin-top: -25px;
}
.mainContent{
    margin: 0 auto;
    max-width: 1160px;
}
.menuLink{
    text-decoration: none;
    color: #b8b8b8;
}
.menuLink:hover{
    color:#18cfab;
    padding-bottom: 48px;
    border-bottom: solid #18cfab 2px;
}
.menuList{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.theHamIs{
    font-family: "Montserrat Bold",sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 240px;
    margin-left: 0;
    text-align: center;
}
.wordpress{
    color: #18cfab;
}

.creative{
    font-family: "Montserrat Bold",sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 3em;
    line-height: 15%;
    text-align: center;

}
.justBuy{
    font-family: "Montserrat Light",sans-serif;;
    font-size: 20px;
    font-weight: lighter;
    color: #d4d4d4;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 2px;
}
.headerButtons{
    margin-top: 140px;
    width: 365px;
    margin-left: 420px;
}
.exploreButton{
    text-decoration: none;
    font-family: "Montserrat Bold",sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 26px;
    color: #FFFFFF ;
    background-color: #18cfab;
    border-radius: 5px;
    border-top: solid #FFFFFF 3px;
    margin-right: 20px;
}
.exploreButton.loadButton{
    margin-left: 505px;
    border: none;
}
.exploreButton.loadButton:hover{
    border-radius: 5px;
    border: solid #18cfab 3px ;
}

.exploreButton:hover{
    background:  #FFFFFF;
    color: #18cfab;
}
.purchaseButton:hover{
    background:  #FFFFFF;
    color: #00cbf6;
}


.purchaseButton{
    text-decoration: none;
    font-family: "Montserrat Bold",sans-serif;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 26px;
    color: #FFFFFF ;
    background-color: #00cbf6;
    border-radius: 5px;
    border-top: solid #FFFFFF 3px;
}

.mainCards{
    font-family: "Montserrat Bold",sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-top: 230px;
    height: 280px;
    display: block;
}

.mainCards div:nth-child(odd){
    float: left;
    background-color: #1c2a33;
    border-top: solid #18cfab 4px;
    color: #18cfab ;
    width: 25%;
    height: inherit;
}
.mainCards div:nth-child(even){
    float: left;
    padding: 0;
    color: #FFFFFF;
    background-color: #18cfab;
    border-top: solid #FFFFFF 4px;
    width: 25%;
    height: inherit;
}
.mainCardsFont{

    padding-left: 100px;
}

.fa-hand-point-up, .fa-gem, .fa-lightbulb, .fa-laptop{
    font-size: 60px;
    padding: 60px 150px;
}
.service{
    height: 250px;
    max-width: 1160px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 0;
    z-index: 1;
}

.serviceContentInfo{
    position: relative;
}

.serviceImg{

    height: 115px;
    width: 168px;
    overflow:hidden;
    display: inline-block;
    float: left;
}
.Info.active{
    visibility: visible;
}
.serviceMenu.active{
    background-color: #18cfab;

}



.Info{
    position:absolute;
    top: 0;
    visibility: hidden;
    height: 115px ;
    width:1140px ;
    margin-left: 35px;
    margin-top: 30px;
}

.textInfo{
    display: inline-block;
    margin-left: 30px ;
    margin-top: 0;


}

.textPar{
    font-family: "Montserrat Light",sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #777777;
    line-height: 20px;
    text-align: justify;
    margin-top: -5px;
    margin-bottom: 0;
    width: 860px;
}

.caption{
    font-family: "Montserrat Regular",sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #4e4e4e;
    text-align: center;
    padding-top:40px ;
    letter-spacing: 1px;
}
.stick1{
    margin: 0 auto;
    width: 75px;
    height: 2px;
    border-bottom: solid #18cfab 1px;
}
.stick2{
    margin-left: 560px;
    width: 75px;
    height: 3px;
    border-bottom: solid #18cfab 1px;
    margin-bottom: 70px;
}
.serviceContent{
    width: 1140px;
    height: 350px;
    margin: 0 auto;

}
.serviceMenu{
    list-style-type: none;
    display: inline-block;
    padding: 25px 50px;
    font-family: "Montserrat Light", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background-color: #f8fcfe;
    border: solid #eff0f1 1px;
    margin-left: -5px;
    text-decoration: none;

}
.serviceLink{
    text-decoration: none;
    color: #717171;
}
.section2{

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/Sections background/section-2.jpg") 0 -350px no-repeat fixed;
    height: 475px;
    z-index: 6;
    margin-top: 300px;
}
.section2Content{
    max-width: 1160px;
    margin: 0 auto;
}

.everything{
    font-family: "Montserrat Bold", sans-serif;
    color: #18cfab;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 36px;
    text-align: center;
    padding-top: 125px;
}
.smooth{
    font-family: "Montserrat Regular", sans-serif;
    color: #d8d8d8;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    padding-bottom: 75px;
}
.purchase{
    display: inline-block;
    margin-left: 500px;

}

.ourAmazingWork{
    height: 1100px;
    background-color: #f8fcfe;
    margin-top: -30px;

}
.ourAmazingWorkContent{
    max-width: 1160px;
    margin: 0 auto;
}
.workList{
    padding: 0;
    margin-left: 70px;
}

.workMenu{
    list-style-type: none;
    display: inline-block;
    padding: 25px 35px;
    font-family: "Montserrat Light", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background-color: #ffffff;
    border: solid #eff0f1 1px;
    margin-left: -5px;

}
.workLink{
    text-decoration: none;
    color: #717171;
}

.ourWorkMenu{
    width: 800px;
    margin: 0 auto;
}

.photoBlock{
    width: 1140px;
    display: block;
    margin-top: 50px;
    margin-bottom: 90px;
}
.photoContainer{
    display: inline-block;
    margin-left: -4px;
    margin-top: -4px;
    margin-bottom: -4px;
    width: 284px;
    height: 206px;

}
.photoContainer:hover{
    background-color: #FFFFFF;
    border-top:  solid #18cfab 2px;
}
.photoContainer img{
    z-index:40 ;
}
.photoContainer img:hover{
    opacity: 0;
}
.workPhotoText{
    z-index: 10;
    margin-top: -18px;
    visibility: hidden;
}
.photoContainer.workPhotoText:hover{
    visibility: visible;
}

.breakingNews{
    height: 950px;
}
.breakingNewsContent{
    max-width: 1160px;
    margin: 0 auto;
}
.cards{
    display: block;
    width: 1160px;
    height: 600px;
}
.box{
    height: 260px;
    width: 250px;
    display: inline-block;
    float: left;
    border: solid #ebebeb 1px;
    background-color: #f8fcfe;
    padding: 0;
    margin: 0 19px 40px 19px;

}
.cardLink{
    text-decoration: none;
    color: #717171;
}

.box:hover .cardLink{
    color: #18cfab;
    background-color: #18cfab;
}


.textBox{
    font-family: "Montserrat Bold", sans-serif;
    padding: 7px 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 33px;

}
.box:hover .boxSquare{
background-color: #18cfab;
}
.smallCaption{
    font-family: "Montserrat Light", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 10px;
    color: #717171 !important;
}

.boxSquare{
    display: block;
    position: relative;
    left: 182px;
    z-index: 13;
    width: 68px;
    height: 65px;
    background-color: #203e38;
    font-family: "Montserrat Light", sans-serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center;


}
.photoCard{
    max-width: 250px;
    margin-top: -65px;
    position: relative;
    z-index: 1;
}

.section3{

    background-image: url("../img/Sections background/section-3.jpg");
    height: 1000px;
}
.section3Content{
    max-width: 1160px;
    margin: 0 auto;
}
.section3Caption{
    color: #FFFFFF;
}

.fa-quote-left{
    color: #18cfab;
    font-size: 50px;
    padding-left: 560px ;
    padding-bottom: 70px;
}

.section3Text{
    color: #bbbbbb;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}

.footer{
    margin-top: -16px;
    padding: 0;
    height: 105px;
    background-color: #22353f;
}
.footerContent{
    max-width: 1160px;
    margin: 0 auto;
}
.footerText{
    padding-top: 50px;
    text-align: center;
    color: #9b9e9f;
    font-size: 16px;
}
.footerTheHam{
    color: #18cfab;
}
.whiteLine{
    background-color: #FFFFFF;
    height: 10px;
}